In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
obesity_by_state = pd.read_csv('../data/USA_Obesity_prevalence_by_state_2021.csv')

In [3]:
obesity_by_state

                   State Prevalence        95% CI
0                Alabama       39.9  (37.9, 41.8)
1                 Alaska       33.5  (31.5, 35.5)
2                Arizona       31.3  (30.0, 32.6)
3               Arkansas       38.7  (36.6, 40.8)
4             California       27.6  (26.1, 29.1)
5               Colorado       25.1  (24.1, 26.2)
6            Connecticut       30.4  (28.9, 31.9)
7               Delaware       33.9  (31.8, 36.1)
8   District of Columbia       24.7  (22.6, 26.9)
9                Florida    No data       No data
10               Georgia       33.9  (32.2, 35.6)
11                  Guam       33.5  (29.2, 38.1)
12                Hawaii       25.0  (23.6, 26.4)
13                 Idaho       31.6  (30.2, 33.0)
14              Illinois       34.2  (31.8, 36.6)
15               Indiana       36.3  (35.1, 37.5)
16                  Iowa       36.4  (35.1, 37.7)
17                Kansas       36.0  (35.1, 37.0)
18              Kentucky       40.3  (38.5, 42.2)
19             Louisiana       38.6  (36.7, 40.6)
20                 Maine       31.9  (30.6, 33.2)
21              Maryland       34.3  (33.2, 35.5)
22         Massachusetts       27.4  (25.9, 28.8)
23              Michigan       34.4  (33.1, 35.7)
24             Minnesota       32.4  (31.5, 33.3)
25           Mississippi       39.1  (37.1, 41.1)
26              Missouri       37.3  (35.9, 38.7)
27               Montana       31.8  (30.3, 33.3)
28              Nebraska       35.9  (34.8, 37.1)
29                Nevada       31.3  (28.7, 34.1)
30         New Hampshire       30.6  (29.0, 32.3)
31            New Jersey       28.2  (26.8, 29.6)
32            New Mexico       34.6  (32.9, 36.3)
33              New York       29.1  (28.3, 30.0)
34        North Carolina       36.0  (34.2, 37.9)
35          North Dakota       35.2  (33.6, 36.9)
36                  Ohio       37.8  (36.6, 39.0)
37              Oklahoma       39.4  (37.7, 41.2)
38                Oregon       30.4  (28.9, 31.9)
39          Pennsylvania       33.3  (31.7, 34.9)
40           Puerto Rico       36.0  (33.9, 38.1)
41          Rhode Island       30.1  (28.4, 31.8)
42        South Carolina       36.1  (34.6, 37.5)
43          South Dakota       38.4  (35.6, 41.4)
44             Tennessee       35.0  (33.1, 36.8)
45                 Texas       36.1  (34.4, 37.8)
46                  Utah       30.9  (29.8, 32.1)
47               Vermont       29.0  (27.4, 30.7)
48        Virgin Islands       35.6  (28.7, 43.2)
49              Virginia       34.2  (32.9, 35.6)
50            Washington       28.8  (27.7, 29.9)
51         West Virginia       40.6  (39.1, 42.1)
52             Wisconsin       33.9  (32.1, 35.7)
53               Wyoming       32.0  (29.9, 34.1)

In [4]:
obesity_by_state = obesity_by_state.drop([9, 11, 40, 48], axis=0).reset_index(drop=True)
obesity_by_state

                   State Prevalence        95% CI
0                Alabama       39.9  (37.9, 41.8)
1                 Alaska       33.5  (31.5, 35.5)
2                Arizona       31.3  (30.0, 32.6)
3               Arkansas       38.7  (36.6, 40.8)
4             California       27.6  (26.1, 29.1)
5               Colorado       25.1  (24.1, 26.2)
6            Connecticut       30.4  (28.9, 31.9)
7               Delaware       33.9  (31.8, 36.1)
8   District of Columbia       24.7  (22.6, 26.9)
9                Georgia       33.9  (32.2, 35.6)
10                Hawaii       25.0  (23.6, 26.4)
11                 Idaho       31.6  (30.2, 33.0)
12              Illinois       34.2  (31.8, 36.6)
13               Indiana       36.3  (35.1, 37.5)
14                  Iowa       36.4  (35.1, 37.7)
15                Kansas       36.0  (35.1, 37.0)
16              Kentucky       40.3  (38.5, 42.2)
17             Louisiana       38.6  (36.7, 40.6)
18                 Maine       31.9  (30.6, 33.2)
19              Maryland       34.3  (33.2, 35.5)
20         Massachusetts       27.4  (25.9, 28.8)
21              Michigan       34.4  (33.1, 35.7)
22             Minnesota       32.4  (31.5, 33.3)
23           Mississippi       39.1  (37.1, 41.1)
24              Missouri       37.3  (35.9, 38.7)
25               Montana       31.8  (30.3, 33.3)
26              Nebraska       35.9  (34.8, 37.1)
27                Nevada       31.3  (28.7, 34.1)
28         New Hampshire       30.6  (29.0, 32.3)
29            New Jersey       28.2  (26.8, 29.6)
30            New Mexico       34.6  (32.9, 36.3)
31              New York       29.1  (28.3, 30.0)
32        North Carolina       36.0  (34.2, 37.9)
33          North Dakota       35.2  (33.6, 36.9)
34                  Ohio       37.8  (36.6, 39.0)
35              Oklahoma       39.4  (37.7, 41.2)
36                Oregon       30.4  (28.9, 31.9)
37          Pennsylvania       33.3  (31.7, 34.9)
38          Rhode Island       30.1  (28.4, 31.8)
39        South Carolina       36.1  (34.6, 37.5)
40          South Dakota       38.4  (35.6, 41.4)
41             Tennessee       35.0  (33.1, 36.8)
42                 Texas       36.1  (34.4, 37.8)
43                  Utah       30.9  (29.8, 32.1)
44               Vermont       29.0  (27.4, 30.7)
45              Virginia       34.2  (32.9, 35.6)
46            Washington       28.8  (27.7, 29.9)
47         West Virginia       40.6  (39.1, 42.1)
48             Wisconsin       33.9  (32.1, 35.7)
49               Wyoming       32.0  (29.9, 34.1)

In [5]:
sorted_obesity_by_state = obesity_by_state.sort_values(by='Prevalence', ascending=False)
sorted_obesity_by_state

                   State Prevalence        95% CI
47         West Virginia       40.6  (39.1, 42.1)
16              Kentucky       40.3  (38.5, 42.2)
0                Alabama       39.9  (37.9, 41.8)
35              Oklahoma       39.4  (37.7, 41.2)
23           Mississippi       39.1  (37.1, 41.1)
3               Arkansas       38.7  (36.6, 40.8)
17             Louisiana       38.6  (36.7, 40.6)
40          South Dakota       38.4  (35.6, 41.4)
34                  Ohio       37.8  (36.6, 39.0)
24              Missouri       37.3  (35.9, 38.7)
14                  Iowa       36.4  (35.1, 37.7)
13               Indiana       36.3  (35.1, 37.5)
42                 Texas       36.1  (34.4, 37.8)
39        South Carolina       36.1  (34.6, 37.5)
15                Kansas       36.0  (35.1, 37.0)
32        North Carolina       36.0  (34.2, 37.9)
26              Nebraska       35.9  (34.8, 37.1)
33          North Dakota       35.2  (33.6, 36.9)
41             Tennessee       35.0  (33.1, 36.8)
30            New Mexico       34.6  (32.9, 36.3)
21              Michigan       34.4  (33.1, 35.7)
19              Maryland       34.3  (33.2, 35.5)
12              Illinois       34.2  (31.8, 36.6)
45              Virginia       34.2  (32.9, 35.6)
9                Georgia       33.9  (32.2, 35.6)
7               Delaware       33.9  (31.8, 36.1)
48             Wisconsin       33.9  (32.1, 35.7)
1                 Alaska       33.5  (31.5, 35.5)
37          Pennsylvania       33.3  (31.7, 34.9)
22             Minnesota       32.4  (31.5, 33.3)
49               Wyoming       32.0  (29.9, 34.1)
18                 Maine       31.9  (30.6, 33.2)
25               Montana       31.8  (30.3, 33.3)
11                 Idaho       31.6  (30.2, 33.0)
27                Nevada       31.3  (28.7, 34.1)
2                Arizona       31.3  (30.0, 32.6)
43                  Utah       30.9  (29.8, 32.1)
28         New Hampshire       30.6  (29.0, 32.3)
6            Connecticut       30.4  (28.9, 31.9)
36                Oregon       30.4  (28.9, 31.9)
38          Rhode Island       30.1  (28.4, 31.8)
31              New York       29.1  (28.3, 30.0)
44               Vermont       29.0  (27.4, 30.7)
46            Washington       28.8  (27.7, 29.9)
29            New Jersey       28.2  (26.8, 29.6)
4             California       27.6  (26.1, 29.1)
20         Massachusetts       27.4  (25.9, 28.8)
5               Colorado       25.1  (24.1, 26.2)
10                Hawaii       25.0  (23.6, 26.4)
8   District of Columbia       24.7  (22.6, 26.9)

In [6]:
household_income_by_state = pd.read_excel('../data/USA_median_household_income_2021_by_state.xlsx', sheet_name='Data')

In [7]:
household_income_by_state

    Unnamed: 0                                         Unnamed: 1  Unnamed: 2
0          NaN                                                NaN         NaN
1          NaN        U.S. median household income 2021, by state         NaN
2          NaN  Median household income in the United States i...         NaN
3          NaN                                                NaN         NaN
4          NaN                                           Maryland     97332.0
5          NaN                               District of Columbia     90640.0
6          NaN                                      New Hampshire     88841.0
7          NaN                                         New Jersey     88559.0
8          NaN                                               Utah     87649.0
9          NaN                                         Washington     87648.0
10         NaN                                      Massachusetts     86566.0
11         NaN                                           Colorado     84954.0
12         NaN                                             Hawaii     82199.0
13         NaN                                             Oregon     81855.0
14         NaN                                         California     81575.0
15         NaN                                             Alaska     81133.0
16         NaN                                        Connecticut     80958.0
17         NaN                                          Minnesota     80441.0
18         NaN                                           Virginia     80268.0
19         NaN                                           Illinois     79253.0
20         NaN                                           Nebraska     78109.0
21         NaN                                              Idaho     76918.0
22         NaN                                            Vermont     76079.0
23         NaN                                             Kansas     75979.0
24         NaN                                       Rhode Island     74982.0
25         NaN                                       South Dakota     73893.0
26         NaN                                           New York     72920.0
27         NaN                                       Pennsylvania     72627.0
28         NaN                                               Iowa     72429.0
29         NaN                                              Maine     71139.0
30         NaN                                            Wyoming     71052.0
31         NaN                                            Arizona     70821.0
32         NaN                                      United States     70784.0
33         NaN                                            Indiana     70190.0
34         NaN                                          Wisconsin     69943.0
35         NaN                                       North Dakota     68882.0
36         NaN                                           Delaware     68687.0
37         NaN                                              Texas     67404.0
38         NaN                                            Montana     64999.0
39         NaN                                           Michigan     64488.0
40         NaN                                             Nevada     64340.0
41         NaN                                           Missouri     63594.0
42         NaN                                     North Carolina     62891.0
43         NaN                                               Ohio     62689.0
44         NaN                                     South Carolina     62542.0
45         NaN                                          Tennessee     62166.0
46         NaN                                            Georgia     61497.0
47         NaN                                           Oklahoma     60096.0
48         NaN                                            Florida     59734.0
49         NaN                                          Louisiana     57206.0
50         NaN                                            Alabama     56929.0
51         NaN                                           Kentucky     55629.0
52         NaN                                         New Mexico     53463.0
53         NaN                                           Arkansas     50784.0
54         NaN                                      West Virginia     46836.0
55         NaN                                        Mississippi     46637.0

In [8]:
household_income_by_state = household_income_by_state.drop(range(4)).reset_index(drop=True)
household_income_by_state

    Unnamed: 0            Unnamed: 1  Unnamed: 2
0          NaN              Maryland     97332.0
1          NaN  District of Columbia     90640.0
2          NaN         New Hampshire     88841.0
3          NaN            New Jersey     88559.0
4          NaN                  Utah     87649.0
5          NaN            Washington     87648.0
6          NaN         Massachusetts     86566.0
7          NaN              Colorado     84954.0
8          NaN                Hawaii     82199.0
9          NaN                Oregon     81855.0
10         NaN            California     81575.0
11         NaN                Alaska     81133.0
12         NaN           Connecticut     80958.0
13         NaN             Minnesota     80441.0
14         NaN              Virginia     80268.0
15         NaN              Illinois     79253.0
16         NaN              Nebraska     78109.0
17         NaN                 Idaho     76918.0
18         NaN               Vermont     76079.0
19         NaN                Kansas     75979.0
20         NaN          Rhode Island     74982.0
21         NaN          South Dakota     73893.0
22         NaN              New York     72920.0
23         NaN          Pennsylvania     72627.0
24         NaN                  Iowa     72429.0
25         NaN                 Maine     71139.0
26         NaN               Wyoming     71052.0
27         NaN               Arizona     70821.0
28         NaN         United States     70784.0
29         NaN               Indiana     70190.0
30         NaN             Wisconsin     69943.0
31         NaN          North Dakota     68882.0
32         NaN              Delaware     68687.0
33         NaN                 Texas     67404.0
34         NaN               Montana     64999.0
35         NaN              Michigan     64488.0
36         NaN                Nevada     64340.0
37         NaN              Missouri     63594.0
38         NaN        North Carolina     62891.0
39         NaN                  Ohio     62689.0
40         NaN        South Carolina     62542.0
41         NaN             Tennessee     62166.0
42         NaN               Georgia     61497.0
43         NaN              Oklahoma     60096.0
44         NaN               Florida     59734.0
45         NaN             Louisiana     57206.0
46         NaN               Alabama     56929.0
47         NaN              Kentucky     55629.0
48         NaN            New Mexico     53463.0
49         NaN              Arkansas     50784.0
50         NaN         West Virginia     46836.0
51         NaN           Mississippi     46637.0

In [9]:
household_income_by_state = household_income_by_state.drop("Unnamed: 0", axis=1)
household_income_by_state = household_income_by_state.rename(columns={"Unnamed: 1": "States", "Unnamed: 2": "Median Household Income"})

In [11]:
household_income_by_state

                  States  Median Household Income
0               Maryland                  97332.0
1   District of Columbia                  90640.0
2          New Hampshire                  88841.0
3             New Jersey                  88559.0
4                   Utah                  87649.0
5             Washington                  87648.0
6          Massachusetts                  86566.0
7               Colorado                  84954.0
8                 Hawaii                  82199.0
9                 Oregon                  81855.0
10            California                  81575.0
11                Alaska                  81133.0
12           Connecticut                  80958.0
13             Minnesota                  80441.0
14              Virginia                  80268.0
15              Illinois                  79253.0
16              Nebraska                  78109.0
17                 Idaho                  76918.0
18               Vermont                  76079.0
19                Kansas                  75979.0
20          Rhode Island                  74982.0
21          South Dakota                  73893.0
22              New York                  72920.0
23          Pennsylvania                  72627.0
24                  Iowa                  72429.0
25                 Maine                  71139.0
26               Wyoming                  71052.0
27               Arizona                  70821.0
28         United States                  70784.0
29               Indiana                  70190.0
30             Wisconsin                  69943.0
31          North Dakota                  68882.0
32              Delaware                  68687.0
33                 Texas                  67404.0
34               Montana                  64999.0
35              Michigan                  64488.0
36                Nevada                  64340.0
37              Missouri                  63594.0
38        North Carolina                  62891.0
39                  Ohio                  62689.0
40        South Carolina                  62542.0
41             Tennessee                  62166.0
42               Georgia                  61497.0
43              Oklahoma                  60096.0
44               Florida                  59734.0
45             Louisiana                  57206.0
46               Alabama                  56929.0
47              Kentucky                  55629.0
48            New Mexico                  53463.0
49              Arkansas                  50784.0
50         West Virginia                  46836.0
51           Mississippi                  46637.0